@charset 'utf-8';

html {
    color: #000;
    background: #fff;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: ''}
abbr, acronym {
    border: 0;
    font-variant: normal;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
input, textarea, select {
    *font-size: 100%}
legend {
    color: #000;
}
body {
    font: 13px/1.231 arial, helvetica, clean, sans-serif;
    *font-size: small;
    *font: x-small;
}
select, input, button, textarea {
    font: 99% arial, helvetica, clean, sans-serif;
}
table {
    font-size: inherit;
    font: 100%}
pre, code, kbd, samp, tt {
    font-family: monospace;
    *font-size: 108%;
    line-height: 100%}
h1 {
    font-size: 138.5%}
h2 {
    font-size: 123.1%}
h3 {
    font-size: 108%}
h1, h2, h3 {
    margin: 1em 0;
}
h1, h2, h3, h4, h5, h6, strong {
    font-weight: bold;
}
abbr, acronym {
    border-bottom: 1px dotted #000;
    cursor: help;
}
em {
    font-style: italic;
}
blockquote, ul, ol, dl {
    margin: 1em;
}
ol, ul, dl {
    margin-left: 2em;
}
ol {
    list-style: decimal outside;
}
ul {
    list-style: disc outside;
}
dl dd {
    margin-left: 1em;
}
th, td {
    border: 1px solid #000;
    padding: .5em;
}
th {
    font-weight: bold;
    text-align: center;
}
caption {
    margin-bottom: .5em;
    text-align: center;
}
p, fieldset, table, pre {
    margin-bottom: 1em;
}
input[type=text], input[type=password], textarea {
    width: 12.25em;
    *width: 11.9em;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
figure {
    margin: 0;
}
.lst_reset, .lst_reset li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.clear {
    clear: both;
    height: 1px;
    margin: 0;
    padding: 0;
    font-size: 1px;
    line-height: 0;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
@font-face {
    font-family: 'font';
    src: url('fonts/font.eot');
    src: url('fonts/font.eot?#iefix') format('embedded-opentype'), url('fonts/font.woff') format('woff'), url('fonts/font.ttf') format('truetype'), url('fonts/font.svg#font') format('svg');
    font-weight: normal;
    font-style: normal;
}
.hide {
    display: none;
}
.block {
    display: block !important;
}
.text-center {
    text-align: center;
}
.no-margin {
    margin: 0 !important;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.margin-bottom {
    margin-bottom: 20px;
}
.container {
    min-width: 300px;
}
.width {
    width: 80%;
    min-width: 300px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.full {
    width: 100% !important;
}
.center {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
}
.left {
    float: left !important;
}
.right {
    float: right !important;
}
.first {
    margin-left: 0;
    padding-left: 0;
}
.last {
    margin-right: 0;
    padding-right: 0;
}
.columna {
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}
.columna.xmall-1 {
    width: 6.3%}
.columna.xmall-2 {
    width: 14.6%}
.columna.xmall-3 {
    width: 22.9%}
.columna.xmall-4 {
    width: 31.2%}
.columna.xmall-5 {
    width: 39.5%}
.columna.xmall-6 {
    width: 47.8%}
.columna.xmall-7 {
    width: 56.1%}
.columna.xmall-8 {
    width: 64.4%}
.columna.xmall-9 {
    width: 72.7%}
.columna.xmall-10 {
    width: 81%}
.columna.xmall-11 {
    width: 89.3%}
.columna.xmall-12 {
    width: 97.6%}
.columna img {
    width: 100%;
    height: auto;
    margin: 0;
}
.span {
    float: left;
}
.span.xmall-1 {
    width: 8.3%}
.span.xmall-2 {
    width: 16.6%}
.span.xmall-3 {
    width: 24.9%}
.span.xmall-4 {
    width: 33.2%}
.span.xmall-5 {
    width: 41.5%}
.span.xmall-6 {
    width: 49.8%}
.span.xmall-7 {
    width: 58.1%}
.span.xmall-8 {
    width: 66.4%}
.span.xmall-9 {
    width: 74.7%}
.span.xmall-10 {
    width: 83%}
.span.xmall-11 {
    width: 91.3%}
.span.xmall-12 {
    width: 99.6%}
.span img {
    width: 100%;
    height: auto;
    margin: 0;
}
p {
    margin-bottom: 1em;
}
.text-center {
    text-align: center;
}
.small {
    display: none;
}

html, body{ height: 100%; background: #eee; }

body {
    font:  1em / 1.4em "proxima-nova";
    font-weight: 300;
}
h1 {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    margin: 0 9% 0 0;
}
h1 img {
    width: 100%;
    height: auto;
}
h2 {
    margin: 0;
    font:  2.5em / 1 'proxima-nova';
    font-weight: 700;
    color: #ec1c24;
}
hr {
    height: 2px;
    border: 0;
    margin: 0 0 40px 0;
    background: #004a97;
}
section {
    margin-bottom: 40px;
}
section.historia {
    text-align: justify;
    margin-top: 8%;
}
.boton {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background: #004a97;
    font:  1em / 1 'proxima-nova';
    font-weight: 300;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.boton:hover {
    background: #004a97;
    color: #fff;
}
header {
    height:auto;
    position: fixed;
    top: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    z-index: 9999;
}
header.scroll {
    background: #fff;
    border-bottom: 2px solid #004a97;
}
header.scroll h1 img {
    width: 100%;
    height: auto;
}
nav {
    display: inline-block;
    vertical-align: middle;
    width: 65%}
nav a {
    display: inline-block;
    vertical-align: top;
    width: 18%;
    font:  1em / 1 "proxima-nova";
    font-weight: 300;
    color: #4e5758;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
nav a:hover i, nav a.activo i {
    color: #ec1c24;
}
nav a:hover span, nav a.activo span {
    color: #ec1c24;
}
nav a i {
    margin-bottom: 5px;
}

.fondo {background-image: url(images/Pieza_Home.jpg) !important; background-size: 100%; }

.menu{padding: 1em 0;}

.color-productividad {
    color: #22bc9c;
}
.color-explotacion {
    color: #3498db;
}
.color-dinamismo {
    color: #e67e22;
}
.color-personalizable {
    color: #e74c3b;
}
.color-caracteristicas {
    color: #e7b83b;
}

.content p {
    font:  1.3em / 1.4em "proxima-nova";
    font-weight: 300;
}
.content ul li {
    font:  1.3em / 1.4em "proxima-nova";
    font-weight: 300;
}
.slider-wrapper {
    width: 100%;
    height: 600px;
    margin-bottom: 20px;
    padding: 120px 0 0 0;
    background: url('images/main-bg.jpg') no-repeat;
    background-position: right top;
}
.slider {
    position: relative;
}

.slider p {
    font:  2em / 1 "proxima-nova";
    font-weight: 300;
    color: #004a97;
}
.slider .slide {
    width: 100%}
.slider .slide div {
    width: 100%;
    z-index: 1;
}
.slider .slide div>div {
    margin-top: 5%}
.slider .slide div>div h2, .slider .slide div>div p {
    width: 60%}
.slider .slide div>div h2 {
    margin-bottom: 10px;
}
.slider .slide div>div h2.highlight, .slider .slide div>div p.highlight {
    color: #ec1c24;
}
.slider .slide div>div p {
    margin-bottom: 0;
}
.slider .slide div>div .boton {
    width: auto;
    margin: 1em 0;
    background: #004a97;
    color: #fff;
    text-align: center;
    text-decoration: uppercase;
}
.historia-wrapper {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background: url('images/historia-bg.jpg') no-repeat;
    background-position: right top;
}

.container-blanco{
    background: white;
    padding:20px;
}

.sgw-wrapper {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background: url('images/sgw-bg.jpg') no-repeat;
    background-position: right top;
}
.ejemplos-wrapper {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background: url('images/ejemplos-bg.jpg') no-repeat;
    background-position: right top;
}
.contacto-wrapper{
    height:800px;
    background: no-repeat;
}

}
.boxedcontainer {
    max-width: 1170px;
    margin: auto;
    padding: 0 30px;
}
.tp-banner-container {
    width: 100%;
    max-height: 450px !important;
    position: relative;
    margin-top: 0;
    padding: 0;
}
.tp-banner {
    width: 100%;
    max-height: 450px !important;
    position: relative;
}
.tp-banner-fullscreen-container {
    width: 100%;
    position: relative;
    padding: 0;
}
.tp-caption.dc_red {
    font-size: 2.2em;
    line-height: 1em;
    font-weight: 600;
    font-family: "proxima-nova";
    color: #ec1c24;
    text-decoration: none;
    padding: 10px;
    border-width: 0;
    border-color: #ffd658;
    border-style: none;
}
.tp-caption.dc_blue {
    font-size: 1.8em;
    line-height: 2em;
    font-weight: 400;
    font-family: "proxima-nova";
    color: #004a97;
    text-decoration: none;
    padding: 10px;
    border-width: 0;
    border-color: #ffd658;
    border-style: none;
}
.tabs-menu {
    height: 30px;
    clear: both;
    margin-left: 115px;
}
.tabs-menu ul {
    list-style-type: none;
    list-style: none;
}
.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #eeeeee;
    list-style-type: none;
    list-style: none;
}
.tabs-menu li.current {
    position: relative;
    background-color: #004a97;
    color: #fff;
    z-index: 5;
}

.tabs-menu li:hover {
    position: relative;
    background-color: #004a97;
    color: #fff;
    z-index: 5;
}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #ccc;
    text-decoration: none;
}
.tabs-menu .current a {
    color: #fff;
}

.tabs-menu .current a:hover {
    color: #fff;
}
.tab {
    background-color: #fff;
    width: auto;
}
.tab-content {
    width: auto;
    padding: 10px;
    display: none;
}
#tab-1 {
    display: block;
}
.beneficio {
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
}
.beneficio i {
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    margin-right: 4%;
}
.beneficio h3 {
    display: inline-block;
    vertical-align: middle;
    width: 75%;
    margin: 0;
    font:  1.6em / 1 'proxima-nova';
    font-weight: 700;
    color: #4e5758;
}
.beneficio.disabled {
    opacity: .6;
}
.slideshow-beneficios {
    overflow: hidden;
    margin-top: 4px;
    border:solid 1px white;
}
.slide-beneficio {
    width: 100%;
    padding: 50px;
    background: #004a97;
    border-radius: 40px;
}
.slide-beneficio>p {
    font:  1.2em / 1 'proxima-nova';
    font-weight: 700;
    color: #fff;
    font-weight: normal;
}

.formal {
    margin-bottom: 0;
    padding: 40px 0;
    background: url('images/testimonio-bg.jpg') no-repeat #004a97 center;
    background-size: cover;
}
.formal p {
    font: italic 1.6em / 1.6em 'adobe-garamond-pro';
    font-weight: 400;
    color: #fff;
}
.formal p span {
    font:  1em / 1 'adobe-garamond-pro';
    font-weight: 400;
}
.caracteristica span {
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    font:  1.5em / 1em "proxima-nova";
    font-weight: 300;
}
.caracteristica span i {
    color: #fff;
}
.caracteristica p {
    display: inline-block;
    vertical-align: middle;
    width: 78%;
    margin: 0 0 10px 0;
    font:  1em / 1.2em 'proxima-nova';
    font-weight: 700;
    color: #fff;
    font-weight: normal;
}
footer {
    padding: 40px;
    background: #4e5758;
}
footer p {
    margin-bottom: 0;
    font:  1.2em / 1 "proxima-nova";
    font-weight: 300;
    color: #fff;
}

.forma-contacto label {
    margin-bottom: 10px;
    font:  1.2em / 1 "proxima-nova";
    font-weight: 300;
}

.forma-contacto input, .forma-contacto textarea {
    width:100%;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #004a97;
}

.forma-contacto input[type='submit'] {
    padding: 20px;
    font:  1.2em / 1 "proxima-nova";
    font-weight: 300;
    background: #004a97;
    color: #fff;
    border: none;
}

.forma-contacto label.error{ color: red; font-size: 0.8em; position: relative; top: -20px; }

.forma-contacto input[type='checkbox'] {
    width:auto;
    font-weight: 300;
    background: #004a97;
    color: #fff;
    border: none;
    display: inline-block;
    float: left;
}

.solicitar-demo label, .descarga label {
    padding:0 10px;
    text-align: left;
    color:red;
    font-size:1.5em;
    font-weight:bold;
    border: none;
}

.verificador{
    width: 60%;
}

.forma-contacto textarea {
    height: 120px;
}


@media only screen and (min-width:25em) {
    .columna.small-1 {
    width: 6.3%}
    .columna.small-2 {
        width: 14.6%}
    .columna.small-3 {
        width: 22.9%}
    .columna.small-4 {
        width: 31.2%}
    .columna.small-5 {
        width: 39.5%}
    .columna.small-6 {
        width: 47.8%}
    .columna.small-7 {
        width: 56.1%}
    .columna.small-8 {
        width: 64.4%}
    .columna.small-9 {
        width: 72.7%}
    .columna.small-10 {
        width: 81%}
    .columna.small-11 {
        width: 89.3%}
    .columna.small-12 {
        width: 97.6%}
    .span.small-1 {
        width: 8.3%}
    .span.small-2 {
        width: 16.6%}
    .span.small-3 {
        width: 24.9%}
    .span.small-4 {
        width: 33.2%}
    .span.small-5 {
        width: 41.5%}
    .span.small-6 {
        width: 49.8%}
    .span.small-7 {
        width: 58.1%}
    .span.small-8 {
        width: 66.4%}
    .span.small-9 {
        width: 74.7%}
    .span.small-10 {
        width: 83%}
    .span.small-11 {
        width: 91.3%}
    .span.small-12 {
        width: 99.6%}
    .small {
        display: block;
    }
    .no-small {
        display: none;
    }
}

@media only screen and (min-width:40.063em) {
    .columna.medium-1 {
    width: 6.3%}
    .columna.medium-2 {
        width: 14.6%}
    .columna.medium-3 {
        width: 22.9%}
    .columna.medium-4 {
        width: 31.2%}
    .columna.medium-5 {
        width: 39.5%}
    .columna.medium-6 {
        width: 47.8%}
    .columna.medium-7 {
        width: 56.1%}
    .columna.medium-8 {
        width: 64.4%}
    .columna.medium-9 {
        width: 72.7%}
    .columna.medium-10 {
        width: 81%}
    .columna.medium-11 {
        width: 89.3%}
    .columna.medium-12 {
        width: 97.6%}
    .span.medium-1 {
        width: 8.3%}
    .span.medium-2 {
        width: 16.6%}
    .span.medium-3 {
        width: 24.9%}
    .span.medium-4 {
        width: 33.2%}
    .span.medium-5 {
        width: 41.5%}
    .span.medium-6 {
        width: 49.8%}
    .span.medium-7 {
        width: 58.1%}
    .span.medium-8 {
        width: 66.4%}
    .span.medium-9 {
        width: 74.7%}
    .span.medium-10 {
        width: 83%}
    .span.medium-11 {
        width: 91.3%}
    .span.medium-12 {
        width: 99.6%}
    .medium {
        display: block;
    }
    .no-medium {
        display: none;
    }
}

@media only screen and (min-width:64.063em) {
    .columna.large-1 {
    width: 6.3%}
.columna.large-2 {
    width: 14.6%}
.columna.large-3 {
    width: 22.9%}
.columna.large-4 {
    width: 31.2%}
.columna.large-5 {
    width: 39.5%}
.columna.large-6 {
    width: 47.8%}
.columna.large-7 {
    width: 56.1%}
.columna.large-8 {
    width: 64.4%}
.columna.large-9 {
    width: 72.7%}
.columna.large-10 {
    width: 81%}
.columna.large-11 {
    width: 89.3%}
.columna.large-12 {
    width: 97.6%}
.span.large-1 {
    width: 8.3%}
.span.large-2 {
    width: 16.6%}
.span.large-3 {
    width: 24.9%}
.span.large-4 {
    width: 33.2%}
.span.large-5 {
    width: 41.5%}
.span.large-6 {
    width: 49.8%}
.span.large-7 {
    width: 58.1%}
.span.large-8 {
    width: 66.4%}
.span.large-9 {
    width: 74.7%}
.span.large-10 {
    width: 83%}
.span.large-11 {
    width: 91.3%}
.span.large-12 {
    width: 99.6%}
.large {
    display: block;
}
.no-large {
    display: none;
}



}@media only screen and (min-width:90.063em) {
    .columna.xlarge-1 {
    width: 6.3%}
.columna.xlarge-2 {
    width: 14.6%}
.columna.xlarge-3 {
    width: 22.9%}
.columna.xlarge-4 {
    width: 31.2%}
.columna.xlarge-5 {
    width: 39.5%}
.columna.xlarge-6 {
    width: 47.8%}
.columna.xlarge-7 {
    width: 56.1%}
.columna.xlarge-8 {
    width: 64.4%}
.columna.xlarge-9 {
    width: 72.7%}
.columna.xlarge-10 {
    width: 81%}
.columna.xlarge-11 {
    width: 89.3%}
.columna.xlarge-12 {
    width: 97.6%}
.span.xlarge-1 {
    width: 8.3%}
.span.xlarge-2 {
    width: 16.6%}
.span.xlarge-3 {
    width: 24.9%}
.span.xlarge-4 {
    width: 33.2%}
.span.xlarge-5 {
    width: 41.5%}
.span.xlarge-6 {
    width: 49.8%}
.span.xlarge-7 {
    width: 58.1%}
.span.xlarge-8 {
    width: 66.4%}
.span.xlarge-9 {
    width: 74.7%}
.span.xlarge-10 {
    width: 83%}
.span.xlarge-11 {
    width: 91.3%}
.span.xlarge-12 {
    width: 99.6%}
.xlarge {
    display: block;
}
.no-xlarge {
    display: none;
}
}@media only screen and (min-width:120.063em) {
    .columna.xxlarge-1 {
    width: 6.3%}
.columna.xxlarge-2 {
    width: 14.6%}
.columna.xxlarge-3 {
    width: 22.9%}
.columna.xxlarge-4 {
    width: 31.2%}
.columna.xxlarge-5 {
    width: 39.5%}
.columna.xxlarge-6 {
    width: 47.8%}
.columna.xxlarge-7 {
    width: 56.1%}
.columna.xxlarge-8 {
    width: 64.4%}
.columna.xxlarge-9 {
    width: 72.7%}
.columna.xxlarge-10 {
    width: 81%}
.columna.xxlarge-11 {
    width: 89.3%}
.columna.xxlarge-12 {
    width: 97.6%}
.span.xxlarge-1 {
    width: 8.3%}
.span.xxlarge-2 {
    width: 16.6%}
.span.xxlarge-3 {
    width: 24.9%}
.span.xxlarge-4 {
    width: 33.2%}
.span.xxlarge-5 {
    width: 41.5%}
.span.xxlarge-6 {
    width: 49.8%}
.span.xxlarge-7 {
    width: 58.1%}
.span.xxlarge-8 {
    width: 66.4%}
.span.xxlarge-9 {
    width: 74.7%}
.span.xxlarge-10 {
    width: 83%}
.span.xxlarge-11 {
    width: 91.3%}
.span.xxlarge-12 {
    width: 99.6%}
.xxlarge {
    display: block;
}
.no-xxlarge {
    display: none;
}
}





/**

@charset 'utf-8';html{color:#000;background:#fff}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif}table{font-size:inherit;font:100%}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%}h1{font-size:138.5%}h2{font-size:123.1%}h3{font-size:108%}h1,h2,h3{margin:1em 0}h1,h2,h3,h4,h5,h6,strong{font-weight:bold}abbr,acronym{border-bottom:1px dotted #000;cursor:help}em{font-style:italic}blockquote,ul,ol,dl{margin:1em}ol,ul,dl{margin-left:2em}ol{list-style:decimal outside}ul{list-style:disc outside}dl dd{margin-left:1em}th,td{border:1px solid #000;padding:.5em}th{font-weight:bold;text-align:center}caption{margin-bottom:.5em;text-align:center}p,fieldset,table,pre{margin-bottom:1em}input[type=text],input[type=password],textarea{width:12.25em;*width:11.9em}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}figure{margin:0}.lst_reset,.lst_reset li{margin:0;padding:0;list-style:none}.clear{clear:both;height:1px;margin:0;padding:0;font-size:1px;line-height:0}*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}.clearfix{zoom:1}@font-face{font-family:'font';src:url('fonts/font.eot');src:url('fonts/font.eot?#iefix') format('embedded-opentype'),url('fonts/font.woff') format('woff'),url('fonts/font.ttf') format('truetype'),url('fonts/font.svg#font') format('svg');font-weight:normal;font-style:normal}.hide{display:none}.block{display:block !important}.text-center{text-align:center}.no-margin{margin:0 !important}.no-margin-bottom{margin-bottom:0 !important}.margin-bottom{margin-bottom:20px}.container{min-width:300px}.width{width:90%;min-width:300px;max-width:1280px;margin-left:auto;margin-right:auto}.full{width:100% !important}.center{margin-left:auto !important;margin-right:auto !important;float:none !important}.left{float:left !important}.right{float:right !important}.first{margin-left:0;padding-left:0}.last{margin-right:0;padding-right:0}.columna{margin-left:1%;margin-right:1%;float:left}.columna.xmall-1{width:6.3%}.columna.xmall-2{width:14.6%}.columna.xmall-3{width:22.9%}.columna.xmall-4{width:31.2%}.columna.xmall-5{width:39.5%}.columna.xmall-6{width:47.8%}.columna.xmall-7{width:56.1%}.columna.xmall-8{width:64.4%}.columna.xmall-9{width:72.7%}.columna.xmall-10{width:81%}.columna.xmall-11{width:89.3%}.columna.xmall-12{width:97.6%}.columna img{width:100%;height:auto;margin:0}.span{float:left}.span.xmall-1{width:8.3%}.span.xmall-2{width:16.6%}.span.xmall-3{width:24.9%}.span.xmall-4{width:33.2%}.span.xmall-5{width:41.5%}.span.xmall-6{width:49.8%}.span.xmall-7{width:58.1%}.span.xmall-8{width:66.4%}.span.xmall-9{width:74.7%}.span.xmall-10{width:83%}.span.xmall-11{width:91.3%}.span.xmall-12{width:99.6%}.span img{width:100%;height:auto;margin:0}p{margin-bottom:1em}.text-center{text-align:center}.small{display:none}::selection{background:#004a97;color:#fff}::-moz-selection{background:#004a97;color:#fff}body{background:#fff;font: 1em / 1.4em "proxima-nova";font-weight:300}h1{display:inline-block;vertical-align:middle;width:25%;margin:0 9% 0 0}h1 img{width:100%;height:auto}h2{margin:0;font: 3em / 1 'proxima-nova';font-weight:700;color:#ec1c24}hr{height:2px;border:0;margin:0 0 40px 0;background:#004a97}section{margin-bottom:40px}section.historia{margin-top:40px;text-align:justify}.boton{padding:10px;color:#fff;text-decoration:none;background:#004a97;font: 1em / 1 'proxima-nova';font-weight:300;-webkit-border-radius:25px;-moz-border-radius:25px;border-radius:25px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease}.boton:hover{background:#004a97;color:#fff}header{height:120px;margin-bottom:40px;padding:20px 0;position:fixed;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;z-index:9999}header.scroll{background:#fff;border-bottom:2px solid #004a97}header.scroll h1 img{width:90%;height:auto}nav{display:inline-block;vertical-align:middle;width:65%}nav a{display:inline-block;vertical-align:top;width:16%;font: 1em / 1 "proxima-nova";font-weight:300;color:#4e5758;text-align:center;text-decoration:none;text-transform:uppercase;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease}nav a:hover i,nav a.activo i{color:#ec1c24}nav a:hover span,nav a.activo span{color:#ec1c24}nav a i{margin-bottom:5px}.color-productividad{color:#22bc9c}.color-explotacion{color:#3498db}.color-dinamismo{color:#e67e22}.color-personalizable{color:#e74c3b}.color-caracteristicas{color:#e7b83b}.main.not-home{padding:120px 0 0 0}.content p{font: 1.3em / 1.4em "proxima-nova";font-weight:300}.content ul li{font: 1.3em / 1.4em "proxima-nova";font-weight:300}.slider-wrapper{width:100%;height:600px;margin-bottom:20px;padding:120px 0 0 0;background:url('images/main-bg.jpg') no-repeat;background-position:right top}.slider{position:relative}.slider p{font: 2em / 1 "proxima-nova";font-weight:300;color:#004a97}.slider .slide{width:100%}.slider .slide div{width:100%;z-index:1}.slider .slide div>div{margin-top:5%}.slider .slide div>div h2,.slider .slide div>div p{width:60%}.slider .slide div>div h2{margin-bottom:10px}.slider .slide div>div h2.highlight,.slider .slide div>div p.highlight{color:#ec1c24}.slider .slide div>div p{margin-bottom:0}.slider .slide div>div .boton{width:auto;margin:1em 0;background:#004a97;color:#fff;text-align:center;text-decoration:uppercase}.historia-wrapper{width:100%;height:200px;margin-bottom:20px;background:url('images/historia-bg.jpg') no-repeat;background-position:right top}.sgw-wrapper{width:100%;height:200px;margin-bottom:20px;background:url('images/sgw-bg.jpg') no-repeat;background-position:right top}.ejemplos-wrapper{width:100%;height:200px;margin-bottom:20px;background:url('images/ejemplos-bg.jpg') no-repeat;background-position:right top}.contacto-wrapper{width:100%;height:200px;margin-bottom:20px;background:url('images/contacto-bg.jpg') no-repeat;background-position:right top}.boxedcontainer{max-width:1170px;margin:auto;padding:0 30px}.tp-banner-container{width:100%;position:relative;padding:0}.tp-banner{width:100%;position:relative}.tp-banner-fullscreen-container{width:100%;position:relative;padding:0}.tp-caption.dc_red{font-size:50px;line-height:20px;font-weight:600;font-family:"proxima-nova";color:#ec1c24;text-decoration:none;padding:10px;border-width:0;border-color:#ffd658;border-style:none}.tp-caption.dc_blue{font-size:40px;line-height:20px;font-weight:400;font-family:"proxima-nova";color:#004a97;text-decoration:none;padding:10px;border-width:0;border-color:#ffd658;border-style:none}.tabs-menu{height:30px;clear:both;margin-left:115px}.tabs-menu ul{list-style-type:none;list-style:none}.tabs-menu li{height:30px;line-height:30px;float:left;margin-right:10px;background-color:#ccc;list-style-type:none;list-style:none}.tabs-menu li.current{position:relative;background-color:#fff;z-index:5}.tabs-menu li a{padding:10px;text-transform:uppercase;color:#fff;text-decoration:none}.tabs-menu .current a{color:#2e7da3}.tab{background-color:#fff;width:auto}.tab-content{width:auto;padding:10px;display:none}#tab-1{display:block}.beneficio{margin-bottom:20px;cursor:pointer}.beneficio i{display:inline-block;vertical-align:middle;width:14%;margin-right:8%;font-size:6em}.beneficio h3{display:inline-block;vertical-align:middle;width:74%;margin:0;font: 1.6em / 1 'proxima-nova';font-weight:700;color:#4e5758}.beneficio.disabled{opacity:.6}.slideshow-beneficios{overflow:hidden;margin-top:4px}.slide-beneficio{width:101%;padding:30px;background:#004a97;border-radius:40px}.slide-beneficio>p{font: 1.5em / 1 'proxima-nova';font-weight:700;color:#fff;font-weight:normal}.formal{margin-bottom:0;padding:40px 0;background:url('images/testimonio-bg.jpg') no-repeat #004a97 center;background-size:cover}.formal p{font:italic 1.6em / 1.6em 'adobe-garamond-pro';font-weight:400;color:#fff}.formal p span{font: 1em / 1 'adobe-garamond-pro';font-weight:400}.caracteristica span{width:15%;display:inline-block;vertical-align:middle;font: 1.5em / 1em "proxima-nova";font-weight:300}.caracteristica span i{color:#fff}.caracteristica p{display:inline-block;vertical-align:middle;width:78%;margin:0 0 10px 0;font: 1em / 1.2em 'proxima-nova';font-weight:700;color:#fff;font-weight:normal}footer{padding:40px;background:#4e5758}footer p{margin-bottom:0;font: 1.2em / 1 "proxima-nova";font-weight:300;color:#fff}.forma-contacto label{margin-bottom:10px;font: 1.2em / 1 "proxima-nova";font-weight:300}.forma-contacto input,.forma-contacto textarea{margin-bottom:20px;padding:5px;border:1px solid #004a97}.forma-contacto input[type='submit']{padding:20px;font: 1.2em / 1 "proxima-nova";font-weight:300;background:#004a97;color:#fff;border:none}.forma-contacto textarea{height:120px}@media only screen and (min-width:25em){.columna.small-1{width:6.3%}.columna.small-2{width:14.6%}.columna.small-3{width:22.9%}.columna.small-4{width:31.2%}.columna.small-5{width:39.5%}.columna.small-6{width:47.8%}.columna.small-7{width:56.1%}.columna.small-8{width:64.4%}.columna.small-9{width:72.7%}.columna.small-10{width:81%}.columna.small-11{width:89.3%}.columna.small-12{width:97.6%}.span.small-1{width:8.3%}.span.small-2{width:16.6%}.span.small-3{width:24.9%}.span.small-4{width:33.2%}.span.small-5{width:41.5%}.span.small-6{width:49.8%}.span.small-7{width:58.1%}.span.small-8{width:66.4%}.span.small-9{width:74.7%}.span.small-10{width:83%}.span.small-11{width:91.3%}.span.small-12{width:99.6%}.small{display:block}.no-small{display:none}}@media only screen and (min-width:40.063em){.columna.medium-1{width:6.3%}.columna.medium-2{width:14.6%}.columna.medium-3{width:22.9%}.columna.medium-4{width:31.2%}.columna.medium-5{width:39.5%}.columna.medium-6{width:47.8%}.columna.medium-7{width:56.1%}.columna.medium-8{width:64.4%}.columna.medium-9{width:72.7%}.columna.medium-10{width:81%}.columna.medium-11{width:89.3%}.columna.medium-12{width:97.6%}.span.medium-1{width:8.3%}.span.medium-2{width:16.6%}.span.medium-3{width:24.9%}.span.medium-4{width:33.2%}.span.medium-5{width:41.5%}.span.medium-6{width:49.8%}.span.medium-7{width:58.1%}.span.medium-8{width:66.4%}.span.medium-9{width:74.7%}.span.medium-10{width:83%}.span.medium-11{width:91.3%}.span.medium-12{width:99.6%}.medium{display:block}.no-medium{display:none}}@media only screen and (min-width:64.063em){.columna.large-1{width:6.3%}.columna.large-2{width:14.6%}.columna.large-3{width:22.9%}.columna.large-4{width:31.2%}.columna.large-5{width:39.5%}.columna.large-6{width:47.8%}.columna.large-7{width:56.1%}.columna.large-8{width:64.4%}.columna.large-9{width:72.7%}.columna.large-10{width:81%}.columna.large-11{width:89.3%}.columna.large-12{width:97.6%}.span.large-1{width:8.3%}.span.large-2{width:16.6%}.span.large-3{width:24.9%}.span.large-4{width:33.2%}.span.large-5{width:41.5%}.span.large-6{width:49.8%}.span.large-7{width:58.1%}.span.large-8{width:66.4%}.span.large-9{width:74.7%}.span.large-10{width:83%}.span.large-11{width:91.3%}.span.large-12{width:99.6%}.large{display:block}.no-large{display:none}}@media only screen and (min-width:90.063em){.columna.xlarge-1{width:6.3%}.columna.xlarge-2{width:14.6%}.columna.xlarge-3{width:22.9%}.columna.xlarge-4{width:31.2%}.columna.xlarge-5{width:39.5%}.columna.xlarge-6{width:47.8%}.columna.xlarge-7{width:56.1%}.columna.xlarge-8{width:64.4%}.columna.xlarge-9{width:72.7%}.columna.xlarge-10{width:81%}.columna.xlarge-11{width:89.3%}.columna.xlarge-12{width:97.6%}.span.xlarge-1{width:8.3%}.span.xlarge-2{width:16.6%}.span.xlarge-3{width:24.9%}.span.xlarge-4{width:33.2%}.span.xlarge-5{width:41.5%}.span.xlarge-6{width:49.8%}.span.xlarge-7{width:58.1%}.span.xlarge-8{width:66.4%}.span.xlarge-9{width:74.7%}.span.xlarge-10{width:83%}.span.xlarge-11{width:91.3%}.span.xlarge-12{width:99.6%}.xlarge{display:block}.no-xlarge{display:none}}@media only screen and (min-width:120.063em){.columna.xxlarge-1{width:6.3%}.columna.xxlarge-2{width:14.6%}.columna.xxlarge-3{width:22.9%}.columna.xxlarge-4{width:31.2%}.columna.xxlarge-5{width:39.5%}.columna.xxlarge-6{width:47.8%}.columna.xxlarge-7{width:56.1%}.columna.xxlarge-8{width:64.4%}.columna.xxlarge-9{width:72.7%}.columna.xxlarge-10{width:81%}.columna.xxlarge-11{width:89.3%}.columna.xxlarge-12{width:97.6%}.span.xxlarge-1{width:8.3%}.span.xxlarge-2{width:16.6%}.span.xxlarge-3{width:24.9%}.span.xxlarge-4{width:33.2%}.span.xxlarge-5{width:41.5%}.span.xxlarge-6{width:49.8%}.span.xxlarge-7{width:58.1%}.span.xxlarge-8{width:66.4%}.span.xxlarge-9{width:74.7%}.span.xxlarge-10{width:83%}.span.xxlarge-11{width:91.3%}.span.xxlarge-12{width:99.6%}.xxlarge{display:block}.no-xxlarge{display:none}}

******/

================

